*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt

.idea/
.sourcemaps/
.vscode/
.sass-cache/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
