page-home {

  .scroll-zoom-wrapper {
        height: 90%;
        white-space: nowrap;
    }

  .fit-thumbnail { object-fit: cover; }

  img{
    display: block;
    height: 100%;
  }

  ion-card {
      width: 40% !important;
      height: 100%;
      display: inline-block;
  }

  ion-scroll {

      height: 30% !important;

      .scroll-content {
        padding: 0px !important;
      }
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 2px 2px #000;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .card-contact {
    height: 50px;
    width: 5px;
    top: 0%;
    right: 0px;
    font-size: 1em;
    background-color: red;
    color: white;
  }

}
